export SCOUTER_DB_DSN=postgres://scouter:pa55word@localhost/gamescouter?sslmode=disable
export ClientID=910004182414-m8ret44ge5jmrdlte6cl6oae9g3chcok.apps.googleusercontent.com
export ClientSecret=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
